
.icon-th-list:before { content: '\e805'; } /* '' */
.icon-ok-squared:before { content: '\e804'; } /* '' */
.icon-plus-squared:before { content: '\e803'; } /* '' */
.icon-minus-squared:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e802'; } /* '' */
.icon-cancel-squared:before { content: '\e801'; } /* '' */