/* Admin page Styles */
.clear {
	clear:both;
}
.h10 {
	height:10px;
}
.h20 {
	height:20px;
}
.h30 {
	height:30px;
}
.h40 {
	height:40px;
}
.h50 {
	height:50px;
}
form[name=user-group-choose] select {
	width:300px;
	height:200px !important;
}