/* Admin page Styles */
h1.wpst-admin-head {
	margin-top:50px;
}
.clear {
	clear:both;
}
.h10 {
	height:10px;
}
.h20 {
	height:20px;
}
.h30 {
	height:30px;
}
.h40 {
	height:40px;
}
.h50 {
	height:50px;
}
form[name=group-permissions] select.wpst-caps-list {
	width:300px;
	height:200px !important;
}
.hide {
	display:none;
}
#wpst_perm_users {
	width:300px;
	height:200px !important;
}
#wpst-user-profile-caps-select {
	width:300px;
	height:200px !important;
}